html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	background: url(/img/greyzz.png) #efefef;
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
}
a {
	text-decoration: none;
	color: #0d8ba1;
}
a:hover {
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	color: #0d8ba1;
}

/**********************************
             LAYOUT
**********************************/
#header {
	background: rgba(13,139,161,0.4);
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	font-weight: bold;
}
#header span {
	color: #fff;
	display: inline-block;
	padding: 10px 70px;
	background: rgba(255, 255, 255, 0.6);
}
#content {
	min-height:100%;
	position: relative;
	padding-top: 50px;
	padding-bottom: 30px;
}
#footer {
	color: #777;
	text-align: center;
	font-family: Georgia, serif;
	font-style: italic;
	background: url(/img/black_lozenge.png) #333
}
#footer span {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 20px;
}
#footer i {
	margin-top: 20px;
	font-size: 4em;
}

/**********************************
             INDEX
**********************************/
#posts {
	width: 960px;
	margin:auto;
	padding-top: 30px;
}
.entry {
	margin-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
}
/********************/
.left-date {
	float: left;
	width: 80px;
	text-align: center;
	font-family: Georgia, serif;
	font-style: italic;
}
.left-date .day {
	font-size: 3em;
	color: #777;
}
.left-date .month {
	margin-top: 5px;
	color: #777;
	border-top: 1px solid #777;
}
/********************/
.entry-content {
	padding-left: 100px;
	padding-right: 100px;
}
.entry-header {
}
.entry-header .title {
	display: block;
	font-size: 2em;
	font-weight: bold;
	color: #0d8ba1;
	padding-top: 15px;
}
.entry-header .meta {
	font-family: Georgia, serif;
	font-style: italic;
	color: #777;
}
.entry-body {
}


/**********************************
              POST
**********************************/
#post {
	width: 960px;
	margin:auto;
}
#post hr{
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, #eee, #ddd, #eee);
}
#post-header{
}
#post-title {
	text-align: center;
}
#post-subtitle {
	font-family: Georgia, serif;
	font-style: italic;
	color: #777;
	text-align: center;
	margin-top: 0;
}
#post-content {
	width: 800px;
	margin: auto;
}
#post-comments {
	margin-top: 50px;
	margin-bottom: 20px;
}


