html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	background: url(/img/greyzz.png) #efefef;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
	color: #0d8ba1;
}
a:hover {
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	color: #0d8ba1;
}

/**********************************
             LAYOUT
**********************************/
#header {
	background: rgba(13,139,161,0.4);
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	font-weight: bold;
}
#header span {
	color: #fff;
	display: inline-block;
	padding: 10px 70px;
	background: rgba(255, 255, 255, 0.6);
}
#content {
	min-height:100%;
	position: relative;
	padding-top: 50px;
	padding-bottom: 30px;
}
#footer {
	color: #777;
	text-align: center;
	font-family: Georgia, serif;
	font-style: italic;
	background: url(/img/black_lozenge.png) #333
}
#footer span {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 20px;
}
#footer i {
	margin-top: 20px;
	font-size: 4em;
}

/**********************************
             INDEX
**********************************/
#posts {
	width: 960px;
	margin:auto;
	padding-top: 30px;
}
.entry {
	margin-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
}
/********************/
.left-date {
	float: left;
	width: 80px;
	text-align: center;
	font-family: Georgia, serif;
	font-style: italic;
}
.left-date .day {
	font-size: 3em;
	color: #777;
}
.left-date .month {
	margin-top: 5px;
	color: #777;
	border-top: 1px solid #777;
}
/********************/
.entry-content {
	padding-left: 100px;
	padding-right: 100px;
}
.entry-header {
}
.entry-header .title {
	display: block;
	font-size: 2em;
	font-weight: bold;
	color: #0d8ba1;
	padding-top: 15px;
}
.entry-header .meta {
	font-family: Georgia, serif;
	font-style: italic;
	color: #777;
}
.entry-body {
}


/**********************************
              POST
**********************************/
#post {
	width: 960px;
	margin:auto;
}
#post hr{
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, #eee, #ddd, #eee);
}
.post-header{
	padding: 30px 0 25px 0;
}
.post-title {
	text-align: center;
	font-size: 2.3em;
	margin: 10px 0;
}
.post-date {
	font-family: Georgia, serif;
	font-style: italic;
	color: #777;
}
.post-tags {
	margin-right: 20px;
	position: relative;
	display: inline-block;
	float: right;
}
.post-categories {
	margin-left: 20px;
	position: relative;
	display: inline-block;
}
.post-text {
	margin-left: 100px;
	margin-right: 100px;
}
.post-comments {
	margin-top: 50px;
	margin-bottom: 20px;
}

/**********************************
               TAGS
**********************************/
.tags {
	list-style: none;
	margin: 0;
	padding: 0;
	font: 12px/1.5 'PT Sans', serif;
	text-transform: capitalize;
}
.tags li{
	display: block;
	float: left;
	margin: 0 0 0 17px;
	padding: 0;
}
.tags a{
	display: table-cell;
	text-decoration: none;
	color: black;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	height: 21px;
	background: #ddd;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	position: relative;
	-webkit-transition: color 0.1s;
}
.tags a::before{
	position: absolute;
	left: -10px;
	top: 0;
	content: "";
	height:1px;
	border-right: 10px solid #ddd;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
}
.tags a::after {
	position: absolute;
	left: -2px;
	top: 7px;
	width: 6px;
	height: 6px;
	background: white;
	border-radius: 3px;
	content: "";
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.31);
}
.tags a:hover {
  	background-color: crimson;
  	color: white;
}
.tags a:hover::before {
	border-right-color: crimson;
}

/**********************************
            CATEGORIES
**********************************/
.categories {
	list-style: none;
	margin: 0;
	padding: 0;
	font: 12px/1.5 'PT Sans', serif;
	text-transform: capitalize;
}
.categories li{
	display: block;
	float: left;
	margin: 0 10px 0 0;
	padding: 0;
}
.categories a{
	display: table-cell;
	text-decoration: none;
	color: white;
	border-radius: 3px;
	height: 21px;
	background: #0d8ba1;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}



/**********************************
              OTHER
**********************************/
.center {
	text-align: center;
	margin: auto;
	clear: both;
}



