---
layout: default
title: Oplogo
---
<div id="posts">
	{% for post in site.posts %}
	<div class="entry">
		<div class="left-date">
			<div class="day" >{{post.date|date:"%-d"}}</div>
			<div class="month" >{{post.date|date:"%B"}}</div>
		</div>
		<div class="entry-content">
			<div class="entry-header">
				<a href="{{ post.url }}" class="title" >{{ post.title }}</a>
			</div>
			<div class="entry-body">
				{% if post.content contains '<!--more-->' %}
					{{ post.content | split: '<!--more-->' | first }}
				{% else %}
					{{ post.content }}
				{% endif %}
			</div>
			<a href="{{post.url}}">Read More &raquo;</a>
		</div>
	</div>
	{% endfor %}
</div>
