<div id="footer-wrapper">
	<div class="footer-column">
		<div class="footer-column-inner-wrapper">
			<h4>Contact</h4>
			<ul>
				<style>
					i {
						width: 20px;
					}
				</style>
				<li><i class="fa fa-twitter"></i> Twitter</li>
				<li><i class="fa fa-github"></i> Github</li>
				<li><i class="fa fa-google-plus"></i> Google+</li>
				<li><i class="fa fa-facebook"></i> Facebook</li>
			</ul>
		</div>
	</div>
	<div class="footer-column">
		<div class="footer-column-inner-wrapper">
			<h4>Categories</h4>
			<ul>
				<style type="text/css">
					li {
						text-transform: capitalize;
					}
				</style>
				{% for c in site.categories %}
				<li> {{ c | first }} </li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="footer-column">
		<div class="footer-column-inner-wrapper">
			<h4>Meta</h4>
			<ul>
				<li>RSS</li>
			</ul>
		</div>
	</div>
	<div class="footer-column">
		<div class="footer-column-inner-wrapper">
			<h4>About Me</h4>
			<p style="font-family:Cochin, Sans-Serif;"> I am from China. English is my secondary language. I am infatuated with realizing my personal requirements by coding. I like new technology, elegant frameworks, natural programming language, and efficient algorithms.</p>
		</div>
	</div>
	<div class="footer-row">
		Proudly hosted by GitHub &copy; 2015
	</div>
</div>
