<div id="footer-wrapper">
	<div class="footer-column">
		<div class="footer-column-inner-wrapper">
			<h4>Contact</h4>
			<ul>
				<li>Twitter</li>
				<li>Github</li>
				<li>Google+</li>
				<li>Facebook</li>
			</ul>
		</div>
	</div>
	<div class="footer-column">
		<div class="footer-column-inner-wrapper">
			<h4>Categories</h4>
			<ul>
				<li>学习笔记</li>
				<li>Line 2</li>
				<li>Line 3</li>
				<li>Line 4</li>
			</ul>
		</div>
	</div>
	<div class="footer-column">
		<div class="footer-column-inner-wrapper">
			<h4>Meta</h4>
			<ul>
				<li>Line 1</li>
				<li>Line 2</li>
				<li>Line 3</li>
				<li>Line 4</li>
			</ul>
		</div>
	</div>
	<div class="footer-column">
		<div class="footer-column-inner-wrapper">
			<h4>About Me</h4>
			<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
	<div class="footer-row">
		Proudly hosted by GitHub &copy; 2015
	</div>
</div>
