<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }}</title>
    <meta name="author" content="楊陽"/>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/blog.css" type="text/css" />
    <link rel="stylesheet" href="/css/highlight.css" type="text/css" />
    <!--<link rel="stylesheet" href="/css/semantic.min.css" type="text/css" />-->
    <!--<script src="/js/semantic.min.js" />-->

</head>
<body>
    <div id="wrapper">
        <div id="header">
            Pure &amp; Simple
        </div>

        <div id="content">
            {{content}}
        </div>

        <div id="footer">
            {% include footer.html %}
        </div>
    </div>

</body>
</html>
