<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/blog.css" type="text/css" />
    <link rel="stylesheet" href="/css/code.css" type="text/css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- JS -->
    <script src="/js/jquery.min.js"></script>
    <script type="/js/blur.min.js"></script>

</head>
<body>

<header id="header">
<span><a href="/">Home</a></span>
</header>

<main id="content">
    {{content}}
</main>

<footer id="footer">
<i class="fa fa-github"></i>
<br/>
<span>Powered by GitHub &copy; 2015</span>
</footer>

</body>
</html>
